<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2012 the CHISEL group and contributors.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
    	Sean Stevenson - Modifications
        Del Myers - initial API and implementation
 -->

<plugin>
<!--
 <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="ca.uvic.chisel.javasketch.launching.internal.JavaTraceConfigurationDelegate"
            delegateDescription="Launches java programs in trace mode"
            id="ca.uvic.chisel.javasketch.traceLaunchDelegate"
            modes="run, debug"
            name="Trace a Java Application"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="ca.uvic.chisel.javasketch.javaTraceConfiguration">
      </launchDelegate>
   </extension>
-->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ca.uvic.chisel.javasketch.launching.internal.TraceConfigurationTabGroup"
            description="Configure a Java Launch for Tracing"
            id="ca.uvic.chisel.javasketch.configurationTabGroup"
            type="ca.uvic.chisel.javasketch.javaTraceConfiguration">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="ca.uvic.chisel.javasketch.launching.internal.EclipseTraceTabGroup"
            description="Configure an Eclipse application for tracing."
            id="ca.uvic.chisel.javasketch.eclipseConfigurationTabGroup"
            type="ca.uvic.chisel.javasketch.eclipseTraceConfiguration">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegateDescription="Launches a java application to be traced for post-run operation"
            delegateName="Java Application Trace"
            id="ca.uvic.chisel.javasketch.javaTraceConfiguration"
            name="Java Application Trace"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegateDescription="Launches an Eclipse application to be traced for post-run operation"
            delegateName="Eclipse Application Trace"
            id="ca.uvic.chisel.javasketch.eclipseTraceConfiguration"
            name="Eclipse Application Trace"
            public="true"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="ca.uvic.chisel.javasketch.launching.internal.JavaTraceConfigurationDelegate"
            id="ca.uvic.chisel.javasketch.javaTraceDelegate"
            modes="run, debug"
            name="Java Application Trace"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="ca.uvic.chisel.javasketch.javaTraceConfiguration">
         <modeCombination
               modes="run"
               perspective="ca.uvic.chisel.javasketch.perspective">
         </modeCombination>
         <modeCombination
               modes="debug"
               perspective="ca.uvic.chisel.javasketch.perspective">
         </modeCombination>
      </launchDelegate>
      <launchDelegate
            delegate="ca.uvic.chisel.javasketch.launching.internal.EclipseTraceConfigurationDelegate"
            delegateDescription="Runs an Eclipse application with dynamic tracing enabled."
            id="ca.uvic.chisel.javasketch.eclipseTraceDelegate"
            modes="run, debug"
            name="Eclipse Application Trace"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer"
            type="ca.uvic.chisel.javasketch.eclipseTraceConfiguration">
         <modeCombination
               modes="run"
               perspective="ca.uvic.chisel.javasketch.perspective">
         </modeCombination>
         <modeCombination
               modes="debug"
               perspective="ca.uvic.chisel.javasketch.perspective">
         </modeCombination>
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ca.uvic.chisel.javasketch.javaTraceConfiguration"
            icon="images/etool16/java_trace.png"
            id="ca.uvic.chisel.javasketch.javaTraceConfigurationImage">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="ca.uvic.chisel.javasketch.eclipseTraceConfiguration"
            icon="images/etool16/eclipse_trace.png"
            id="ca.uvic.chisel.javasketch.eclipseTraceConfigurationImage">
      </launchConfigurationTypeImage>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ca.uvic.chisel.javasketch.tracing"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.TraceCommandHandler"
            description="Pauses or resumes a trace"
            id="ca.uvic.chisel.javasketch.trace"
            name="Trace">
      </command>
      <category
            description="Includes commands for tracing java applications"
            id="ca.uvic.chisel.javasketch.tracing"
            name="Java Tracing">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView">
         <command
               commandId="ca.uvic.chisel.javasketch.trace"
               icon="images/etool16/play_icon.png"
               label="Resume/Pause"
               style="push"
               tooltip="Resumes or Pauses a trace">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="ca.uvic.chisel.javasketch.trace"
            icon="images/etool16/play_icon.png">
      </image>
   </extension>
   -->
   <extension point="org.eclipse.ui.views">
   
    <category
            id="ca.uvic.chisel.diver.views.category"
            name="Diver">
      </category>
      </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ca.uvic.chisel.diver.views.category"
            class="ca.uvic.chisel.javasketch.ui.internal.views.TraceNavigator"
            icon="images/trace_view.png"
            id="ca.uvic.chisel.javasketch.views.traces"
            name="Program Traces"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ca.uvic.chisel.diver.views.category"
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.JavaThreadSequenceView"
            icon="images/obj16/trace_editor.png"
            id="ca.uvic.chisel.javasketch.threadView"
            name="Thread Sequence View"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="ca.uvic.chisel.diver.views.category"
            class="ca.uvic.chisel.javasketch.ui.internal.views.java.TraceOutlineView"
            icon="images/obj16/trace_outline.png"
            id="ca.uvic.chisel.javasketch.traceoutline"
            name="Sequence Outline"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="ca.uvic.chisel.javasketch.commands"
            id="ca.uvic.chisel.javasketch.commands.toggleSketchFilter"
            name="Toggle Trace Visibility">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands"
            id="ca.uvic.chisel.javasketch.pauseResumeHandler"
            name="Pause/Resume a Trace">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.views.java.PackageExplorerFilterCommand"
            id="ca.uvic.chisel.javasketch.packageExplorerFilter"
            name="Filter Based on Traced Events">
      </command>
      <category
            id="ca.uvic.chisel.javasketch.commands"
            name="Diver Commands">
      </category>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands"
            id="ca.uvic.chisel.javasketch.commands.time"
            name="Show Trace Duration">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands"
            id="ca.uvic.chisel.javasketch.commands.toggleSketchActive"
            name="Toggle Trace Activation">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands"
            description="Exports a trace to share with other users of Diver"
            id="ca.uvic.chisel.javasketch.export.trace"
            name="Export Trace">
      </command>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ca.uvic.chisel.javasketch.views.traces">
      </viewer>
      <viewerContentBinding
            viewerId="ca.uvic.chisel.javasketch.views.traces">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="ca.uvic.chisel.javasketch.contents.traces">
            </contentExtension></includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="ca.uvic.chisel.javasketch.TraceActionBinding">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="ca.uvic.chisel.javasketch.ui.internal.views.TraceNavigatorContentProvider"
            icon="images/trace_view.png"
            id="ca.uvic.chisel.javasketch.contents.traces"
            labelProvider="ca.uvic.chisel.javasketch.ui.internal.views.TraceNavigatorLabelProvider"
            name="Program Trace Content"
            priority="highest">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <actionProvider
               class="ca.uvic.chisel.javasketch.ui.internal.views.TraceViewerActions"
               id="ca.uvic.chisel.javasketch.views.traces.actions.OpenProvider">
         </actionProvider>
         <possibleChildren>
            <or>
               <instanceof
                     value="ca.uvic.chisel.javasketch.IProgramSketch">
               </instanceof>
               <instanceof
                     value="ca.uvic.chisel.javasketch.data.model.ITraceModel">
               </instanceof>
               <adapt
                     type="ca.uvic.chisel.javasketch.IProgramSketch">
               </adapt>
               <adapt
                     type="ca.uvic.chisel.javasketch.data.model.ITraceModel">
               </adapt>
               <instanceof
                     value="ca.uvic.chisel.javasketch.ui.internal.views.TreeNode">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.TraceCommandHandler"
            commandId="ca.uvic.chisel.javasketch.pauseResumeHandler">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.debug.core.model.IProcess">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.debug.core.model.IThread">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.debug.core.ILaunch">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.jdt.debug.core.IJavaDebugTarget">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.debug.core.model.IStackFrame">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.TraceDurationCommandHandler"
            commandId="ca.uvic.chisel.javasketch.commands.time">
         <activeWhen>
            <with
                  variable="selection">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.debug.core.model.IProcess">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.debug.core.model.IThread">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.debug.core.ILaunch">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.views.ToggleSketchFilteredHandler"
            commandId="ca.uvic.chisel.javasketch.commands.toggleSketchFilter">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.IProgramSketch">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.ToggleSketchActivationHandler"
            commandId="ca.uvic.chisel.javasketch.commands.toggleSketchActive">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.IProgramSketch">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="images/obj16/sequence.png"
               id="reveal"
               label="Reveal In">
            <dynamic
                  class="ca.uvic.chisel.javasketch.ui.internal.views.java.RevealInThreadContribution"
                  id="ca.uvic.chisel.javasketch.java.revealInThread">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <or>
                           <instanceof
                                 value="org.eclipse.jdt.core.IMethod">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.jdt.core.IType">
                           </instanceof></or>
                     </iterate>
                  </with>
               </visibleWhen>
            </dynamic>
            <dynamic
                  class="ca.uvic.chisel.javasketch.ui.internal.views.RevealInThreadContribution"
                  id="ca.uvic.chisel.javasketch.trace.revealInThread">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <or>
                           <instanceof
                                 value="ca.uvic.chisel.javasketch.data.model.ITraceClass">
                           </instanceof>
                           <adapt
                                 type="ca.uvic.chisel.javasketch.data.model.ITraceClass">
                           </adapt>
                           <adapt
                                 type="ca.uvic.chisel.javasketch.data.model.ITraceClassMethod">
                           </adapt>
                           <instanceof
                                 value="ca.uvic.chisel.javasketch.data.model.ITraceClassMethod">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Delete"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=additions">
         <command
               commandId="ca.uvic.chisel.javasketch.pauseResumeHandler"
               disabledIcon="images/dtool16/play_icon.png"
               icon="images/etool16/play_icon.png"
               label="Pause/Resume a Trace"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=additions">
         <command
               commandId="ca.uvic.chisel.javasketch.commands.time"
               disabledIcon="images/dtool16/clock_icon.png"
               icon="images/etool16/clock_icon.png"
               label="Show Trace Duration"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="ca.uvic.chisel.javasketch.packageExplorerFilter"
               disabledIcon="images/dtool16/filter_java.png"
               icon="images/etool16/filter_java.png"
               label="Filter Using Active Trace"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces">
         <command
               commandId="ca.uvic.chisel.javasketch.commands.toggleSketchActive"
               icon="images/etool16/trace-active.gif"
               label="Toggle Trace Activation"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces">
         <command
               commandId="ca.uvic.chisel.javasketch.commands.toggleSketchFilter"
               icon="images/etool16/openeye.png"
               label="Toggle Trace Filtered"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands for the Sketch presentation framework"
            id="ca.uvic.chisel.javasketch.commands.presentation"
            name="Sketch Presentation Commands">
      </category>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            id="ca.uvic.chisel.javasketch.command.openThreadCommand"
            name="Open In Sequence Diagram">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            id="ca.uvic.chisel.javasketch.command.reanalyzeTraceCommand"
            name="Reanalyze Trace">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            id="ca.uvic.chisel.javasketch.command.collapseActivationCommand"
            name="Collapse All Activations">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            id="ca.uvic.chisel.javasketch.command.expandActivationCommand"
            name="Expand All Activations">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            id="ca.uvic.chisel.javasketch.command.focusActivationCommand"
            name="Focus In">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.FocusUpHandler"
            id="ca.uvic.chisel.javasketch.command.focusUpActivationCommand"
            name="Focus Up">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.FakeCommandHandler"
            id="ca.uvic.chisel.javasketch.command.revealActivation"
            name="Reveal Activation">
         <commandParameter
               id="revealThread"
               name="Thread"
               optional="true">
         </commandParameter>
         <commandParameter
               id="revealTrace"
               name="name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.FakeCommandHandler"
            id="ca.uvic.chisel.javasketch.commands.navigateToCode"
            name="Navigate To Code">
      </command>
      <commandParameterType
            id="revealThread">
      </commandParameterType>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.ToggleDisplayGroupHandler"
            id="ca.uvic.chisel.javasketch.commands.displayGroups"
            name="Group Messages Into Blocks">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.ToggleCompactLoopsHandler"
            id="ca.uvic.chisel.javasketch.commands.compactLoops"
            name="Compact Loops">
      </command>
      <command
            categoryId="ca.uvic.chisel.javasketch.commands.presentation"
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.ScreenshotHandler"
            description="Exports a sequence chart as an image file"
            id="ca.uvic.chisel.javasketch.commands.screenshot"
            name="Capture Screenshot...">
      </command>
      <command
            defaultHandler="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.FakeCommandHandler"
            description="Fake command to annotate a trace element. Used for logging."
            id="ca.uvic.chisel.javasketch.annotate"
            name="Annotate a trace element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.views.OpenIThreadCommandHandler"
            commandId="ca.uvic.chisel.javasketch.command.openThreadCommand">
         <activeWhen>
         <with variable="selection">
            <iterate operator="or">
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.data.model.IThread">
                  </instanceof>
                  <adapt
                        type="ca.uvic.chisel.javasketch.data.model.IThread">
                  </adapt>
               </or>
            </iterate>
          </with>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.views.ReanalyzeActionCommandHandler"
            commandId="ca.uvic.chisel.javasketch.command.reanalyzeTraceCommand">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.IProgramSketch">
                  </instanceof>
                  <adapt
                        type="ca.uvic.chisel.javasketch.IProgramSketch">
                  </adapt>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.views.DeleteSketchHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <adapt
                           type="ca.uvic.chisel.javasketch.IProgramSketch">
                     </adapt>
                  </and>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.CollapseAllHandler"
            commandId="ca.uvic.chisel.javasketch.command.collapseActivationCommand">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.data.model.IActivation">
                  </instanceof>
                  <adapt
                        type="ca.uvic.chisel.javasketch.data.model.IActivation">
                  </adapt>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.ExpandAllHandler"
            commandId="ca.uvic.chisel.javasketch.command.expandActivationCommand">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.data.model.IActivation">
                  </instanceof>
                  <adapt
                        type="ca.uvic.chisel.javasketch.data.model.IActivation">
                  </adapt>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.FocusInHandler"
            commandId="ca.uvic.chisel.javasketch.command.focusActivationCommand">
         <activeWhen>
            <iterate>
               <or>
                  <instanceof
                        value="ca.uvic.chisel.javasketch.data.model.IActivation">
                  </instanceof>
                  <adapt
                        type="ca.uvic.chisel.javasketch.data.model.IActivation">
                  </adapt>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.RevealActivationHandler"
            commandId="ca.uvic.chisel.javasketch.command.revealActivation">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
                  <or>
               <instanceof
                     value="ca.uvic.chisel.javasketch.data.model.ITraceClass">
               </instanceof>
               <instanceof
                     value="ca.uvic.chisel.javasketch.data.model.ITraceClassMethod">
               </instanceof>
               <adapt
                     type="ca.uvic.chisel.javasketch.data.model.ITraceClass">
               </adapt>
               <adapt
                     type="ca.uvic.chisel.javasketch.data.model.ITraceClassMethod">
               </adapt>
               <adapt
                     type="ca.uvic.chisel.javasketch.data.model.IActivation">
               </adapt>
               <instanceof
                     value="ca.uvic.chisel.javasketch.data.model.IActivation">
               </instanceof>
               <adapt
                     type="ca.uvic.chisel.javasketch.data.model.IMessage">
               </adapt>
               <instanceof
                     value="ca.uvic.chisel.javasketch.data.model.IMessage">
               </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.JavaRevealActivationHandler"
            commandId="ca.uvic.chisel.javasketch.command.revealActivation">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="org.eclipse.jdt.core.IType">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.jdt.core.IMethod">
                  </instanceof>
               </or>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="ca.uvic.chisel.javasketch.ui.internal.presentation.commands.RevealActivationHandler"
            commandId="ca.uvic.chisel.javasketch.command.revealActivation">
         <activeWhen>
            <iterate>
               <and>
                  <with
                        variable="activePartId">
                     <equals
                           value="ca.uvic.chisel.javasketch.threadView">
                     </equals>
                  </with>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="ca.uvic.chisel.javasketch.data.model.IActivation">
                        </instanceof>
                     </iterate>
                  </with>
               </and>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces?after=group.open">
         <command
               commandId="ca.uvic.chisel.javasketch.command.reanalyzeTraceCommand"
               icon="images/obj16/trace_thread.png"
               label="Reanalyze..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces?after=group.open">
         <command
               commandId="ca.uvic.chisel.javasketch.command.openThreadCommand"
               icon="images/obj16/trace_editor.png"
               label="Open In Sequence Diagram"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:ca.uvic.chisel.javasketch.threadView?after=presentation">
         <command
               commandId="ca.uvic.chisel.javasketch.commands.displayGroups"
               icon="images/obj16/combined_fragments.png"
               label="Use Combined Fragments"
               style="toggle">
         </command>
         <command
               commandId="ca.uvic.chisel.javasketch.commands.compactLoops"
               icon="images/obj16/loops.png"
               label="Compact Loops"
               style="toggle">
         </command>
         <command
               commandId="ca.uvic.chisel.javasketch.commands.screenshot"
               disabledIcon="images/dtool16/screenshot.png"
               icon="images/etool16/screenshot.png"
               label="Capture Screenshot..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ca.uvic.chisel.javasketch.threadView">
         <command
               commandId="ca.uvic.chisel.javasketch.commands.screenshot"
               disabledIcon="images/dtool16/screenshot.png"
               icon="images/etool16/screenshot.png"
               label="Capture Screenshot..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.threadView?after=additions">
         <command
               commandId="ca.uvic.chisel.javasketch.commands.screenshot"
               disabledIcon="images/dtool16/screenshot.png"
               icon="images/etool16/screenshot.png"
               label="Capture Screenshot..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ca.uvic.chisel.javasketch.ui.internal.views.TreeNode"
            class="ca.uvic.chisel.javasketch.ui.internal.views.TreeNodeViewAdapterFactory">
         <adapter
               type="ca.uvic.chisel.javasketch.data.model.ITraceModel">
         </adapter>
         <adapter
               type="java.util.Date">
         </adapter>
         <adapter
               type="ca.uvic.chisel.javasketch.IProgramSketch">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IProject">
         </adapter>
      </factory>
   </extension>
   <extension
         id="markers.touched"
         name="Invocation Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="ca.uvic.chisel.javasketch.annotations.touched"
            colorPreferenceKey="ca.uvic.chisel.javasketch.annotations.touched.color"
            colorPreferenceValue="0,80,255"
            includeOnPreferencePage="true"
            label="Invoked Code"
            overviewRulerPreferenceKey="ca.uvic.chisel.javasketch.annotations.touched.overview"
            overviewRulerPreferenceValue="true"
            textPreferenceKey="ca.uvic.chisel.javasketch.annotations.touched.text"
            textPreferenceValue="true"
            textStylePreferenceKey="ca.uvic.chisel.javasketch.annotations.touched.text.style"
            textStylePreferenceValue="IBEAM">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="ca.uvic.chisel.javasketch.markers.touched"
            name="ca.uvic.chisel.javasketch.annotations.touched">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ca.uvic.chisel.javasketch.ui.internal.PerspectiveFactory"
            icon="images/logo16.png"
            id="ca.uvic.chisel.javasketch.perspective"
            name="Diver">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="ca.uvic.chisel.javasketch.modelProperties">
         <propertyCategory
               category="general"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="ca.uvic.chisel.javasketch.modelProperties">
         <propertyTab
               category="general"
               id="ca.uvic.chisel.javasketch.modelProperties.general"
               label="Trace">
         </propertyTab>
         <propertyTab
               afterTab="ca.uvic.chisel.javasketch.modelProperties.general"
               category="general"
               id="ca.uvic.chisel.javasketch.modelProperties.details"
               label="Details">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="ca.uvic.chisel.javasketch.modelProperties">
         <propertySection
               class="ca.uvic.chisel.javasketch.ui.internal.presentation.properties.GeneralNamesPropertySection"
               enablesFor=" 1"
               filter="ca.uvic.chisel.javasketch.ui.internal.presentation.properties.PropertiesFilter"
               id="ca.uvic.chisel.javasketch.modelProperties.general.names"
               tab="ca.uvic.chisel.javasketch.modelProperties.general">
         </propertySection>
         <propertySection
               afterSection="ca.uvic.chisel.javasketch.modelProperties.general.names"
               class="ca.uvic.chisel.javasketch.ui.internal.presentation.properties.GeneralNotesPropertySection"
               enablesFor=" 1"
               filter="ca.uvic.chisel.javasketch.ui.internal.presentation.properties.PropertiesFilter"
               id="ca.uvic.chisel.javasketch.modelProperties.general.notes"
               tab="ca.uvic.chisel.javasketch.modelProperties.general">
         </propertySection>
         <propertySection
               class="ca.uvic.chisel.javasketch.ui.internal.presentation.properties.GeneralDetailsPropertySection"
               enablesFor=" 1"
               filter="ca.uvic.chisel.javasketch.ui.internal.presentation.properties.PropertiesFilter"
               id="ca.uvic.chisel.javasketch.modelProperties.details.details"
               tab="ca.uvic.chisel.javasketch.modelProperties.details">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="false"
            class="ca.uvic.chisel.javasketch.ui.internal.search.TraceSearchPage"
            enabled="true"
            icon="images/trace_search.png"
            id="ca.uvic.chisel.javasketch.page.search"
            label="Trace Search"
            showScopeSection="false">
      </page>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="ca.uvic.chisel.javasketch.ui.internal.search.TraceSearchResultPage"
            icon="images/trace_search.png"
            id="ca.uvic.chisel.javasketch.search.resultsPage"
            label="Trace Search Results"
            searchResultClass="ca.uvic.chisel.javasketch.ui.internal.search.TraceSearchQueryResults">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ca.uvic.chisel.javasketch.data.model.ITraceClass"
            class="ca.uvic.chisel.javasketch.internal.adapters.TraceClassAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IType">
         </adapter>
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="ca.uvic.chisel.javasketch.data.model.ITraceClassMethod"
            class="ca.uvic.chisel.javasketch.internal.adapters.TraceClassMethodAdapterFactory">
         <adapter
               type="org.eclipse.jdt.core.IMethod">
         </adapter>
         <adapter
               type="org.eclipse.jdt.core.IJavaElement">
         </adapter>
      </factory>
      <factory
            adaptableType="ca.uvic.chisel.javasketch.data.model.ITraceModel"
            class="ca.uvic.chisel.javasketch.ui.internal.TraceWorkbenchAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ca.uvic.chisel.javasketch.actionSet"
            label="Trace Actions"
            visible="true">
         <action
               class="ca.uvic.chisel.javasketch.ui.internal.search.SearchDialogAction"
               icon="images/trace_search.png"
               id="ca.uvic.chisel.javasketch.searchAction"
               label="Traces..."
               menubarPath="org.eclipse.search.menu/dialogGroup"
               retarget="false"
               style="push">
         </action>
         <menu
               label="Search"
               id="org.eclipse.search.menu">
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.uvic.chisel.javasketch.ui.internal.preferences.SketchPluginPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="ca.uvic.chisel.javasketch.diver.export.category"
            name="Diver">
      </category>
      <wizard
            category="ca.uvic.chisel.javasketch.diver.export.category"
            class="ca.uvic.chisel.javasketch.ui.internal.wizards.ExportTraceWizard"
            icon="images/obj16/export_trace_proc.png"
            id="ca.uvic.chisel.javasketch.wizard.export.trace"
            name="Export Trace">
         <description>
            Exports a trace as a compressed file to share with other users of Diver
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="ca.uvic.chisel.javasketch.diver.import.category"
            name="Diver">
      </category>
      <wizard
            category="ca.uvic.chisel.javasketch.diver.import.category"
            class="ca.uvic.chisel.javasketch.ui.internal.wizards.ImportTraceWizard"
            icon="images/obj16/import_trace_proc.png"
            id="ca.uvic.chisel.javasketch.wizard.import.trace"
            name="Import Trace">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.WizardHandler$Export"
            description="Exports a Diver Trace"
            id="ca.uvic.chisel.javasketch.command.exportTrace"
            name="Export Trace...">
         <commandParameter
               id="exportWizardId"
               name="Export"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="org.eclipse.ui.internal.handlers.WizardHandler$Import"
            description="Imports a Diver Trace"
            id="ca.uvic.chisel.javasketch.command.importTrace"
            name="Import Trace...">
         <commandParameter
               id="importWizardId"
               name="Import"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces">
         <command
               commandId="ca.uvic.chisel.javasketch.command.exportTrace"
               icon="images/obj16/export_trace_proc.png"
               label="Export Trace"
               style="push">
            <parameter
                  name="exportWizardId"
                  value="ca.uvic.chisel.javasketch.wizard.export.trace">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:ca.uvic.chisel.javasketch.views.traces">
         <command
               commandId="ca.uvic.chisel.javasketch.command.importTrace"
               icon="images/obj16/import_trace_proc.png"
               label="Import Trace"
               style="push">
            <parameter
                  name="importWizardId"
                  value="ca.uvic.chisel.javasketch.wizard.import.trace">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ca.uvic.chisel.diver.feature.preferences"
            class="ca.uvic.chisel.javasketch.ui.internal.preferences.WorkbenchFiltersPreferencePage"
            id="ca.uvic.chisel.javasketch.workbenchFilters"
            name="Workbench Filters">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="ca.uvic.chisel.javasketch.ui.internal.views.java.LightWeightJavaDOILabelDecorator"
            id="ca.uvic.chisel.javasketch.doiDecorator"
            label="Diver Degree of Interest Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.jdt.core.IJavaElement">
            </objectClass>
         </enablement>
      </decorator>
      </extension>
</plugin>
